@font-face
{
	font-family: Corbel; 
	src: url('../fonts/CORBEL.TTF') format('truetype');
}
@font-face
{
	font-family: Verdana; 
	src: url('../fonts/VERDANA.TTF') format('truetype');
}

#style-info:before
{
    content: "Stylesheet: main.css";    
}

.km-content.km-scroll-wrapper,
.km-tablet .km-ios .km-content
{
	background-image: url('../images/newdawn.jpg');
	background-size: auto 100%;
	background-repeat: no-repeat;
	background-position: center center;
}

@media screen and (orientation: portrait)
{
	.km-content.km-scroll-wrapper
	{
		background-size: auto 100%;
	}
}

@media screen and (orientation: landscape)
{
	.km-content.km-scroll-wrapper
	{
		background-size: 100% auto;
	}
}

/* ================= Home Page Feed Styles ========================*/
.logo
{
	background-image: url('../images/icenium-logo.png');
	margin-bottom: 6pt;
	height: 60px;
	width: 100%;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: left center;
}

.main-container
{
	border-width: 0px;
	margin: 12pt;
	color: #fff;
}

.headline
{
	margin-top: 12pt;
	margin-bottom: 12pt;
	color: #fff;
	font-family: Corbel, Helvetica Neue, Helvetica, sans-serif;
	font-weight: 100;
	font-size: 3.2em;
	text-shadow: 0px 0px 10pt #fff;
}

.main-text
{
	font-family: Verdana, Helvetica Neue, Helvetica, sans-serif;
	text-align: center;
	margin-top: 96pt;
	font-weight: 100;
	font-size: 1em;
	text-shadow: 1px 1px 7px #000;
}

.main-text p
{
	margin: 0;
	padding: 0;
}

/* ================= Info Styles ========================*/
.heading
{
	font-family: Corbel, Helvetica Neue, Helvetica, sans-serif;
	margin-top: 12pt;
	font-size: 1.3em;
	font-weight: bold;
	text-transform: uppercase;
}

#device-info-container
{
	font-family: Verdana, Helvetica Neue, Helvetica, sans-serif;
	font-weight: 100;
	font-size: 1.2em;
	width: 90%;
	padding: 12pt;
	border-radius: 6px;
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, .8)), to(rgba(0, 0, 0, 0.3)), color-stop(1, #000000));
}

/* ================= Twitter Feed Styles ========================*/
.km-list
{
	background-color: transparent;
}

.km-listview.km-list
{
	background-color: transparent;
}

li#twitter-container
{
	margin: 6pt;
}

#twitter-container
{
	margin: 6pt;
	border-radius: 6px;
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, .4)), to(rgba(255, 255, 255, .2)), color-stop(1, #fff));
}

.twitterAvatar
{
	float: left;
	width: 48px;
	height: 48px;
	margin-right: 6pt;
	margin-bottom: 6pt;
	border-radius: 3px;
	border: 1px solid #666;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
}

.twitterText
{
	margin-left: 46pt;
	font-size: .8em;
	font-family: Verdana, Helvetica Neue, Helvetica, sans-serif;
	font-weight: lighter;
	color: #000;
}

.twitterLinks
{
	margin-left: 46pt;
	font-size: .8em;
	color: #000;
	font-weight: bold;
	white-space: nowrap;
}

.sublink
{
	font-size: .9em;
	font-weight: normal;
	display: inline-block;
	padding: 3px 3px 0 0;
	text-decoration: none;
	opacity: .8;
}