/* ================= Twitter Feed Styles ========================*/
.twitterText
{
	font-size: 1em;
}

.twitterAvatar
{
	width: 64px;
	height: 64px;
}

/* ================= Info Styles ========================*/
.heading8
{
	margin-top: 24pt;
	font-size: 2em;
}

#device-info-container
{
	font-size: 1.3em;
	width: 96%;
	padding: 12pt;
	border-radius: 6px;
}

@media screen and (orientation: portrait)
{
	.main-container
	{
		border-style: solid;
		border-color: orange;
		width: 94%;
	}
    
	/* ================= Home Page Feed Styles ========================*/
	.logo
	{
		border: 0px solid red;
		margin-bottom: 6pt;
		height: 80px;
		width: 100%;
		background-size: contain;
		background-repeat: no-repeat;
		background-position: left center;
	}
    
	.headline
	{
		width: 80%;
		margin-top: 70pt;
		font-size: 5em;
	}

	.main-text
	{
		text-align: center;
		margin-top: 230pt;
		font-size: 1.8em;
		text-shadow: 1px 1px 10px #000;
	}

	.km-content.km-scroll-wrapper
	{
		background-size: auto 100%;
	}
}

@media screen and (orientation: landscape)
{
	.km-content.km-scroll-wrapper
	{
		background-size: 100% auto;
	}
    
	.main-container
	{
		border-style: dashed;
		border-color: orange;
		width: 96%;
	}
 
	/* ================= Home Page Feed Styles ========================*/
	.logo
	{
		border: 0px solid red;
		margin-bottom: 6pt;
		height: 90px;
		width: 100%;
		background-size: contain;
		background-repeat: no-repeat;
		background-position: left center;
	}

	.headline
	{
		font-family: Corbel, Helvetica Neue, Helvetica, sans-serif;
		margin-top: 36pt;
		font-size: 4.5em;
		text-shadow: 0px 0px 10pt #fff;
	}

	.main-text
	{
        padding-left: 64pt;
        padding-right: 64pt;
		text-align: center;
		margin-top: 80pt;
		font-size: 1.8em;
		text-shadow: 1px 1px 10px #000;
	}
    
	/* ================= Info Styles ========================*/
	#device-info-container
	{
        font-size: 1.1em;
		width: 98%;
	}
}